name: file
version: 6.0.0
description:
  A pluggable, mockable file system abstraction for Dart. Supports local file
  system access, as well as in-memory file systems, record-replay file systems,
  and chroot file systems.
homepage: https://github.com/google/file.dart

environment:
  sdk: '>=2.12.0-0 <3.0.0'

dependencies:
  path: ^1.8.0

dev_dependencies:
  file_testing: '>=2.0.0 <3.0.0'
  test: '^1.16.0-nullsafety.8'
