name: file
version: 5.2.1
authors:
- Matan Lurey <matanl@google.com>
- Yegor Jbanov <yjbanov@google.com>
- Todd Volkert <tvolkert@google.com>

description:
  A pluggable, mockable file system abstraction for Dart. Supports local file
  system access, as well as in-memory file systems, record-replay file systems,
  and chroot file systems.

homepage: https://github.com/google/file.dart

dependencies:
  intl: '>=0.14.0 <1.0.0'
  meta: ^1.1.2
  path: ^1.5.1

dev_dependencies:
  test: '>=1.0.0 <2.0.0'
  file_testing: '>=2.0.0 <3.0.0'

environment:
  sdk: '>=2.2.2 <3.0.0'
